<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars is Cool</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://github.com/emreynolds9/NASA-Project/blob/master/templates/style.css">

  <!-- <style>
    .box {
      min-height: 50px;
      padding: 20px;
      margin-top: 20px;
      color: #303030;
      font-family: Arial, Helvetica, sans-serif;
    }

    .purple {
      background: lavender;
    }

    .responsive-img {
      width: 90%;
      height: auto;
      max-width: 350px;
      padding-right: 15px;
      padding-bottom: 15px;
    }

    .responsive-img-sm {
      width: 100%;
      max-width: 200px;
      height: auto;
    }

    .img-fluid {
      max-width: 90%;
      height: auto;
      padding: 15px;
    }

    .img-border {
      border: 3px solid #303030;
    }
  </style> -->
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mars</h1>
      <h2>News About the Red Planet</h2>
      <h3>
        This Flask application scrapes data from various websites about Mars and aggregates it into a webpage.
      </h3>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape for News</a></p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12">
        <div class="box purple">
          <center>
            <h1>Latest Mars News</h1>
            <img src={{mars_data.news_img}} class="img-fluid">
            <h2>{{mars_data.news_title}}</h2>
            <p>{{mars_data.news_p}}</p>
          </center>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="box purple">
            <center>
              <h2>Mars Weather</h2>
              <p>{{mars_data.mars_weather}}</p>
            </center>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 other">
            <div class="box purple">
              <center>
                <h2><a href = {{mars_data.feat_img_url}}>Featured Image of Mars</a></h2>
              </center>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="box purple">
            <center>
              <h2>Mars Facts</h2>
              <p>{{mars_data.html_table | safe}}</p>
            </center>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="box purple">
                <table style="width: 100%">
                  <tr>
                    <td>
                      <center>
                        <h2>
                          {{mars_data.hemi_data[0]["title"]}}
                        </h2>
                        <img src="{{ mars_data.hemi_data[0]["img_url"] }}" class="img-fluid">
                      </center>
                    </td>
                    <td>
                      <center>
                        <h2>
                          {{mars_data.hemi_data[1]["title"]}}
                        </h2>
                        <img src="{{ mars_data.hemi_data[1]["img_url"] }}" class="img-fluid">
                      </center>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <center>
                        <h2>
                          {{mars_data.hemi_data[2]["title"]}}

                        </h2>
                        <img src="{{ mars_data.hemi_data[2]["img_url"] }}" class="img-fluid">
                      </center>
                    </td>
                    <td>
                      <center>
                        <h2>
                          {{mars_data.hemi_data[3]["title"]}}

                        </h2>
                      </center>
                      <img src="{{ mars_data.hemi_data[3]["img_url"] }}" class="img-fluid">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
</body>

</html>